<div class="post-project">

    <div class="post-project-fields">
        <form>
            <div class="row">
                <div class="col-lg-12">
                    <input type="text" name="title" placeholder="Titre">
                </div>


                <div class="col-lg-12">

                    <quill-editor name="body" placeholder="De quoi souhaitez-vous parler ?" [styles]="{height: '200px'}"></quill-editor>





                </div>


            </div>
        </form>
    </div>

</div>