<div class="sign_in_sec current" id="tab-2">

    <div class="dff-tab current" id="tab-3">

        <h3>S'inscrire</h3>
        <form [formGroup]="registerForm">
            <div class="row">
                <div class="col-lg-12 no-pdd">
                    <div class="sn-field">
                        <input type="text" name="nom" [formControl]="registerForm.get('nom')" placeholder="Nom">
                        <i class="la la-user"></i>

                    </div>
                    <div class="errors" *ngIf="(registerForm.get('nom').touched && f.nom.errors)||(submitted && f.nom.errors)">
                        <div *ngIf="f.nom.errors.required"><i class="la la-exclamation-circle"></i> Champs obligatoire</div>
                        <div *ngIf="f.nom.errors.pattern"><i class="la la-exclamation-circle"></i> Nom ne doit pas être numerique</div>
                    </div>
                </div>
                <div class="col-lg-12 no-pdd">
                    <div class="sn-field">
                        <input type="text" name="prenom" [formControl]="registerForm.get('prenom')" placeholder="Prénom">
                        <i class="la la-user"></i>
                    </div>
                    <div class="errors" *ngIf="(registerForm.get('prenom').touched && f.prenom.errors)||(submitted && f.prenom.errors)">
                        <div *ngIf="f.prenom.errors.required"><i class="la la-exclamation-circle"></i> Champs obligatoire</div>
                        <div *ngIf="f.prenom.errors.pattern"><i class="la la-exclamation-circle"></i> Prénom ne doit pas être numerique</div>
                    </div>
                </div>

                <div class="col-lg-12 no-pdd">
                    <div class="sn-field">
                        <input type="text" name="email" [formControl]="registerForm.get('email')" placeholder="Email">
                        <i class="la la-envelope "></i>
                    </div>
                    <div class="errors" *ngIf="(registerForm.get('email').touched && f.email.errors)||(submitted && f.email.errors)">
                        <div *ngIf="f.email.errors.required"><i class="la la-exclamation-circle"></i> Champs obligatoire</div>
                        <div *ngIf="f.email.errors.email"><i class="la la-exclamation-circle"></i> Email doit être valide</div>
                    </div>
                </div>


                <div class="col-lg-12 no-pdd">
                    <div class="sn-field">
                        <input type="text" name="matricule" [formControl]="registerForm.get('matricule')" placeholder="Matricule">
                        <i class="la la-map-marker"></i>
                    </div>
                    <div class="errors" *ngIf="(registerForm.get('matricule').touched && f.matricule.errors)||(submitted && f.matricule.errors)">
                        <div *ngIf="f.matricule.errors.required"><i class="la la-exclamation-circle"></i> Champs obligatoire</div>
                    </div>
                </div>

                <div class="col-lg-12 no-pdd">
                    <div class="sn-field">
                        <input type="text" name="ville" [formControl]="registerForm.get('ville')" placeholder="Ville">
                        <i class="la la-map-marker"></i>
                    </div>
                    <div class="errors" *ngIf="(registerForm.get('ville').touched && f.ville.errors)||(submitted && f.ville.errors)">
                        <div *ngIf="f.ville.errors.required"><i class="la la-exclamation-circle"></i> Champs obligatoire</div>
                    </div>
                </div>

                <div class="col-lg-12 no-pdd">
                    <div class="sn-field">
                        <input type="text" name="region" [formControl]="registerForm.get('region')" placeholder="Région">
                        <i class="la la-map-marker"></i>
                    </div>
                    <div class="errors" *ngIf="(registerForm.get('region').touched && f.region.errors)||(submitted && f.region.errors)">
                        <div *ngIf="f.region.errors.required"><i class="la la-exclamation-circle"></i> Champs obligatoire</div>
                    </div>
                </div>

                <div class="col-lg-12 no-pdd">
                    <div class="sn-field">
                        <input type="text" name="entite" [formControl]="registerForm.get('entite')" placeholder="Entité">
                        <i class="la la-users"></i>
                    </div>
                    <div class="errors" *ngIf="(registerForm.get('entite').touched && f.entite.errors)||(submitted && f.entite.errors)">
                        <div *ngIf="f.entite.errors.required"><i class="la la-exclamation-circle"></i> Champs obligatoire</div>
                    </div>
                </div>

                <div class="col-lg-12 no-pdd">
                    <div class="sn-field">
                        <input type="password" name="password" [formControl]="registerForm.get('password')" placeholder="Mot de passe">
                        <i class="la la-lock"></i>
                    </div>
                    <div class="errors" *ngIf="(registerForm.get('password').touched && f.password.errors)||(submitted && f.password.errors)">
                        <div *ngIf="f.password.errors.required"><i class="la la-exclamation-circle"></i> Champs obligatoire</div>

                    </div>
                </div>
                <div class="col-lg-12 no-pdd">
                    <div class="sn-field">
                        <input type="password" name="repeatpassword" [formControl]="registerForm.get('repeatpassword')" placeholder="Repetez le mot de passe">
                        <i class="la la-lock"></i>
                    </div>
                    <div class="errors" *ngIf="(registerForm.get('repeatpassword').touched && f.repeatpassword.errors)||(submitted && f.repeatpassword.errors)">
                        <div *ngIf="f.repeatpassword.errors.required"><i class="la la-exclamation-circle"></i> Champs obligatoire</div>

                    </div>
                </div>
                <div class="col-lg-12 no-pdd">
                    <div class="checky-sec st2">
                        <div class="fgt-sec">
                            <input type="checkbox" id="accept_terms" name="accept_terms" [formControl]="registerForm.get('accept_terms')">
                            <label for="accept_terms">
																<span></span>
															</label>
                            <small>
                                                                Oui, je comprends et accepte les conditions générales d'utilisation.</small>
                        </div>
                        <div class="errors" *ngIf="(registerForm.get('accept_terms').touched && f.accept_terms.errors)||(submitted && f.accept_terms.errors)">
                            <div *ngIf="f.accept_terms.errors.required"><i class="la la-exclamation-circle"></i>Veuillez accepter les conditions générales d'utilisation </div>

                        </div>
                        <!--fgt-sec end-->
                    </div>
                </div>

                <div class="col-lg-12 no-pdd">
                    <div class="checky-sec">


                        <div #recaptcha></div>



                    </div>
                </div>
                <div class="col-lg-12 no-pdd">
                    <button (click)="onSubmit()" class="signin" type="submit" value="submit">S'inscrire</button>
                </div>
            </div>
        </form>
    </div>
    <!--dff-tab end-->

</div>