.drag{
    border-radius: 3px;
    border: 2px dashed #00b2c0;
    min-height: 150px;
    margin-top: 10px;
    color: #00b2c0;;
    text-align: center;
}

.drag i{

    margin-top:50px;
    display: block;
    text-align: center;
    position: relative;

}


.files-list {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 10px auto;
    background: #ffffff;
    border: 1px dashed;
    border-radius: 12px;
    padding: 5px;
    color: #1c8adb;
}

.files-list .delete-file {
    background: transparent;
    border: none;
    cursor: pointer;
}

.files-list .delete-file img {
    width: 30px;
}