<div class="acc-leftbar">
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a *ngFor="let item of sideBarItems" class="nav-item nav-link active" [routerLinkActive]="['active']" [routerLink]="[item['link']]">
            <i class="{{item.icon}}"></i>{{item.title}}</a>
    </div>
</div>