<div class="post-topbar">
    <div class="user-picy">

    </div>
    <div class="post-st">
        <ul>
            <li>
                <a [routerLink]="['/mon-espace/idees/nouveau']" class="post_project" href="#" title="">
                    <i class="lni-bulb "></i>Envoyer vos idees</a>
            </li>

            <li>
                <a [routerLink]="['/mon-espace/articles/nouveau']" class="post_project" href="#" title="">
                    <i class="lni-pencil-alt"></i>Rédiger votre article</a>
            </li>


            <li>
                <a [routerLink]="['/mon-espace/questions/nouveau']" class="post_project" href="#" title="">
                    <i class="lni-pencil-alt"></i>Poser vos questions</a>
            </li>

        </ul>



    </div>


    <!--post-st end-->
</div>