<header class="digi-header">
    <div class="container">
        <div class="header-data">
            <div class="logo-community">
                <a href="/" title=""><img src="assets/images/company-logo-1" alt=""></a>
            </div>


            <nav>
                <ul>
                    <li *ngFor="let item of menu" [routerLinkActive]="['active-item']">
                        <!-- <a (click)="changeCurrentPage(item['link'])"> -->
                        <a *ngIf="item['requireLogin']" [routerLink]="[item['link']]">
                            <i class="{{item['icon']}} size-sm"></i>
                            <span>
                                {{item["title"]}}
                            </span>
                        </a>
                    </li>
                </ul>
            </nav>

            <div class="menu-btn">
                <a href="#" title=""><i class="fa fa-bars"></i></a>
            </div>
            <!--menu-btn end-->
            <div class="user-account" (click)="menuHidden=!menuHidden">
                <div class="user-info">
                    <a>

                        <i class="lni-user size-sm"></i>


                    </a>
                </div>
                <app-nav-settings-menu [userConnected]="user" [hidden]="menuHidden"></app-nav-settings-menu>


            </div>
        </div>
        <!--header-data end-->
    </div>
</header>