<div class="sign-in-page">
    <div class="signin-popup">
        <div class="signin-pop">
            <div class="row">
                <div class="col-lg-6">
                    <div class="cmp-info">
                        <div class="cm-logo">
                            <img src="assets/images/company-logo-1" alt="">
                            <p>{{quoteHome}}</p>
                        </div>
                        <!--cm-logo end-->

                    </div>
                    <!--cmp-info end-->
                </div>
                <div class="col-lg-6">
                    <div class="login-sec">
                        <ul class="sign-control">
                            <li [routerLinkActive]="['current']"><a [routerLink]="['/utilisateur/authentification']" title="">Se connecter</a></li>
                            <li [routerLinkActive]="['current']"><a [routerLink]="['/utilisateur/inscription']" title="">S'inscrire</a></li>
                        </ul>
                        <router-outlet></router-outlet>

                    </div>
                    <!--login-sec end-->
                </div>
            </div>
        </div>
        <!--signin-pop end-->
    </div>
    <!--signin-popup end-->

</div>