.user-account-settingss {
    position: absolute;
    opacity: 1;
    visibility: visible;
    z-index: 999;
    display: none;
    top: 111%;
    right: 0;
    width: 240px;
    background-color: #fff;
    border-left: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    border-radius: 0 0 5px 5px;
    box-shadow: 1px 1px 6px -2px rgba(0, 0, 0, 0.24);
}

.us-links:hover li {
    border-bottom: 1px solid white;
    color: var(--digitalin-primary-color)
}

.us-links:hover li a {
    border-bottom: 1px solid white;
    color: var(--digitalin-primary-color)
}

@media (max-width: 1200px) {
    .user-account-settingss {
        position: relative;
        opacity: 1;
        visibility: visible;
        z-index: 999;
        display: none;
        width: 100%;
        background-color: #fff;
        border-left: 1px solid #e5e5e5;
        border-bottom: 1px solid #e5e5e5;
        border-right: 1px solid #e5e5e5;
        border-radius: 0 0 5px 5px;
        box-shadow: 1px 1px 6px -2px rgba(0, 0, 0, 0.24);
    }
}