<div class="user-account-settingss" style="display: block;">

    <h3> <i class="lni-user size-xs"></i> {{ userConnected.name }}</h3>
    <ul class="us-links">
        <li>
            <a title="" [routerLink]="['/mon-espace/parametrage']">
                <i class="lni-cog size-xs"></i> Parametrage de compte</a>
        </li>

    </ul>
    <h3 class="tc">
        <a title="" (click)="logout()">
            <i class="lni-exit size-xs"></i> Deconnexion
        </a>
    </h3>
</div>