<div class="main-ws-sec">


    <app-articles-liste *ngIf="activeComponenet=='articles'"></app-articles-liste>
    <app-articles-add *ngIf="activeComponenet=='articles-post'"></app-articles-add>
    <app-ideas-add *ngIf="activeComponenet=='idees-post'"></app-ideas-add>
    <app-questions-add *ngIf="activeComponenet=='questions-post'"></app-questions-add>

    <app-sondages-liste *ngIf="activeComponenet=='enquetes'"></app-sondages-liste>


</div>