/* You can add global styles to this file, and also import other style files */

:root {
    --digitalin-primary-color: #01a0ad;
}

.like-com li,
.digi-header li {
    color: black;
    cursor: pointer
}

.digi-header li {
    color: var(--digitalin-primary-color);
    border-bottom: 2px solid white
}

.like-com li li:hover,
.digi-header li:hover {
    color: var(--digitalin-primary-color);
    border-bottom: 2px solid var(--digitalin-primary-color)
}

.user-info a {
    border-radius: 100%;
    border: 1px dashed #000000;
    padding: 3px;
    cursor: pointer
}

.digi-main {
    margin-top: 80px;
}

.digi-style {
    color: #00b2c0;
    font-size: 14px;
    font-weight: bold;
}

.post-st ul li a {
    color: #ffff;
    font-size: 0.82em;
    display: inline-block;
    background-color: #00b2c0;
    height: 40px;
    padding: 0 15px;
    line-height: 40px;
    font-weight: 500;
    border: 1px solid #00b2c0;
}

.post-st ul li a:hover {
    color: #00b2c0;
    font-size: 0.82em;
    display: inline-block;
    background-color: #ffff;
    height: 40px;
    padding: 0 15px;
    line-height: 40px;
    font-weight: 500;
    border: 1px solid #00b2c0;
}

.active-item {
    color: var(--digitalin-primary-color);
    border-bottom: 2px solid var(--digitalin-primary-color);
}

a {
    cursor: pointer;
}

.timing {
    font-size: 0.82em;
    display: inline-block;
    background-color: #ffffff;
    height: 40px;
    line-height: 40px;
    font-weight: 500;
    border: 1px solid #ffffff;
}

.sn-field {
    margin-top: 20px;
    margin-bottom: 0px;
}

.errors {
    color: #de0000;
    padding-top: 2px;
}

.errors div {
    margin-top: 2px;
}