<div class="sign_in_sec current" id="tab-1">

    <h3>Se connecter</h3>
    <form>
        <div class="row">
            <div class="col-lg-12 no-pdd">
                <div class="sn-field">
                    <input type="text" name="email" [formControl]="registerForm.get('email')" placeholder="Email">
                    <i class="la la-user"></i>

                </div>
                <div class="errors" *ngIf="(registerForm.get('email').touched && f.email.errors)||(submitted && f.email.errors)">
                    <div *ngIf="f.email.errors.required"><i class="la la-exclamation-circle"></i> Champs obligatoire</div>
                    <div *ngIf="f.email.errors.email"><i class="la la-exclamation-circle"></i> Email doit être valide</div>
                </div>
            </div>
            <div class="col-lg-12 no-pdd">
                <div class="sn-field">
                    <input type="text" name="password" [formControl]="registerForm.get('password')" placeholder="Mot du passe">
                    <i class="la la-user"></i>
                </div>
                <div class="errors" *ngIf="(registerForm.get('password').touched && f.password.errors)||(submitted && f.password.errors)">
                    <div *ngIf="f.password.errors.required"><i class="la la-exclamation-circle"></i> Champs obligatoire</div>

                </div>
            </div>

            <div class="col-lg-12 no-pdd">
                <button (click)="onSubmit()" class="login">Se connecter</button>
            </div>
        </div>
    </form>
    <div class="login-resources">

    </div>
    <!--login-resources end-->
</div>