<div class="posts-section ">
    <div class="posty   mb-3" *ngFor="let item of questions ">
        <div class="post-bar  no-margin">
            <div class="post_topbar" style="display: block;">


            </div>
            <div class="epi-sec">
                <ul class="descp">

                </ul>
                <ul class="bk-links">

                </ul>
            </div>
            <div class="job_descp">
                <h3> <i class="la la-question-circle size-xs"></i> {{ item.description }}</h3>





                <div class="col-md-12 no-pd pd-left-none no-pd">

                    <div class="usy-name float-right">
                        <span><i class="la la-calendar"></i>  {{item['dateQuestion'] | date:  "yyyy/MM/dd HH:mm" }} -  {{ item['dateQuestion'] | timeAgo }}</span>
                    </div>

                </div>

            </div>










        </div>

    </div>
</div>