<div class="comment-section">
    <a href="#" class="plus-ic" *ngIf="comments.length > 3">
        <i class="la la-plus"></i>
    </a>
    <div class="comment-sec">
        <ul>
            <li>
                <div class="comment-list" *ngFor="let item of comments">
                    <div class="bg-img">
                        <img src="{{ item['user']['profilePicture'] }}" alt="">
                    </div>
                    <div class="comment">

                        <div class="usy-name">
 
                            <h3>{{ item['user']['name']}}</h3>
                            <span>
                                <i class="la la-calendar"></i>{{ item['dateComment'] | timeAgo}}</span>
                            <p>{{ item['comment']}}</p>
                        
                        </div>
    
                    </div>
                </div>

            </li>

        </ul>
    </div>
    <!--comment-sec end-->
    <div class="post-comment">
        <div class="cm_img">
            <img src="images/resources/bg-img4.png" alt="">
        </div>
        <div class="comment_box">
            <form>
                <input type="text" placeholder="Ajouter un commantaire ...">
                <button type="submit">Commenter</button>
            </form>
        </div>
    </div>
    <!--post-comment end-->
</div>