<footer >

<div class="footy-sec mn no-margin">
    <div class="container">
        <ul>
         
             
 
        </ul>
        <p><img src="images/copy-icon2.png" alt="">DigitalIn - Copyright 2020</p>
        <img class="fl-rgt" src="images/logo2.png" alt="">
    </div>
</div>

</footer>